
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:  'Open Sans', sans-serif;
}


header{
    position: fixed;
    width: 100%;
    background-color: #323232;
    z-index: 100;
}



ul li{
    position: relative;
    list-style-type: none;
    display: inline-block;
    padding: 15px 12px;
    font-weight: 200;
}

ul li a{ 
    font-family:  'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.50px;
    text-transform: uppercase;
    font-weight: 400;   
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    transition:all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
}

ul li a:hover{ 
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.50px;
    text-transform: uppercase;
    font-weight: 500;   
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: #db2d2e;
    transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
}
.act{
    color: #db2d2e;
}

slider{
    display: block;
    width: 100%;
    height: 700px;
    background-color: #f1f1f1;
    overflow: hidden;
    position: absolute;
}
slider > *{
    display: block;
    width: 100%;
    height: 700px;
    background: #f1f1f1;
    overflow: hidden;
    position: absolute;
    animation: slide 12s infinite;
}

slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(../img/bg/23.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(../img/bg/09.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(../img/bg/03.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url(../img/bg/19.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes slide {
    0% {left: 100%; width: 100%;}
    5% {left: 0%;}
    25% {left: 0%;}
    30% {left: -100%; width: 100%;}
    30.0001% {left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}

}

.row{
    padding: 250px 0px 100px 70px;
    color: #fff;
    position: relative;
}
.hp-text{
    font-family:  'Open Sans', sans-serif;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 1.1px;

}
.hp-text2{
    padding-top: 25px;
    letter-spacing: 0.59px;
    font-size: 17px;
    margin-bottom: 55px;
}
.but-but{
    background-color: #db2d2e;
    border: none;
    height: auto;
    padding: 15px 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    transition: all 2.12s ease-in;
    -o-transition: all 0.23s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition:all 0.2s ease-in;
    border-width: 1px;
    border-style: solid;
    border-color:#db2d2e;
    border-radius: 3px;
}

.but-but:hover{
    background-color: #19191a;
    color: #ffffff;
    border: none;
    height: auto;
    padding: 15px 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    transition: all 2.12s ease-in;
    -o-transition: all 0.23s ease-in;
    -moz-transition:all 0.23s ease-in;
    -webkit-transition:all 0.23s ease-in;
    border-width: 1px;
    border-style: solid;
    border-color: #19191a;
    border-radius: 3px;
}


.container{
    margin: 0px 80px 30px 80px;
}

.services{
    padding-bottom: 50px;
}

.services-area{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;

}

.text-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0c0c0c;
    padding-top: 100px;
}

.section-title { 
    margin-bottom: 60px; 
    text-align: center;
    width: 1000px;
}
.section-title .line4 { 
    position: relative; 
    margin-top: 10px; 
    display: inline-block;
    margin-bottom: 20px; 
}
.section-title h2 { 
    font-size: 36px; 
    text-transform: uppercase; 
    font-weight: 600;
    color: #363636;
}
.section-title span {
    font-size: 13px;
    color: #969696;
    margin-bottom: 5px; 
    display: block; 
}
.section-title p{
    font-size: 14px;
    color: #969696;
    margin-bottom: 30px; 
}
.section-title .line4:after { 
    width: 100px; display: block; 
    margin: auto; 
    content: ""; 
    height: 1px; 
    background: #db2d2e; 
    bottom: 0px; left: 50%; 
    transition: width .8s ease; 
    -webkit-transition: width .8s ease; 
    -o-transition: width .8s ease; 
    -ms-transition: width .8s ease; 
    -moz-transition: width .8s ease
}
.section-title .line4:before { 
    content: ''; 
    display: block; 
    margin: auto; 
    left: 50%; 
    height: 1px; 
    width: 50px; 
    bottom: -15px; 
    background: #db2d2e; 
    transition: width .8s ease ; 
    -webkit-transition: width .8s ease; 
    -o-transition: width .8s ease ; 
    -ms-transition: width .8s ease; 
    -moz-transition: width .8s ease ; 
    margin-bottom: 6px; 
}

section:hover .section-title .line4:before { 
    width: 100px; 
    left: 0; 
}
section:hover .section-title .line4:after { 
    width: 50px; 
    left: 0; 
}


.feature-box{
    text-align: center;
}

.feature-box i { 
    text-align: center; 
    width: 85px; 
    height: 85px; 
    font-size: 35px; 
    line-height: 80px; 
    background: #f6f6f6; 
    display: inline-block; 
    border-radius: 50%; 
    color: #969696; 
    margin-bottom: 20px; 
    transition: all 0.5s ease-in-out; 
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -ms-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
}
.feature-box h6 { 
    font-size: 19px;
    font-weight: 400;
    padding: 10px 0px;
    position: relative; 
    padding-bottom: 10px; 
}
.feature-box h6:before { 
    position: absolute; 
    content: ""; 
    width: 20px; 
    height: 2px; 
    background: #db2d2e; 
    left: 50%; 
    margin-left: -10px; 
    bottom: 0px; 
}
.feature-box p { 
    font-size: 15px;
    font-weight: 400;
    color: #828590;
    padding: 20px 0px;
}
.feature-box:hover i { 
    background: #db2d2e; 
    color: #ffffff; 
}

.new-section{
    background-image: url(../img/bg/07.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
}
.letest-new{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #0e0e0eea;
    padding-bottom: 50px;
}

.car-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0e0e0eea;
    padding-bottom: 50px;
}

.price span.old-price {
    color: #999999;
    text-decoration: line-through;
    padding-right: 5px;
    font-size: 13px;
    font-weight: 400;
}

.text-heading2{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 50px 40px;
}

.new-title .line4 { 
    position: relative; 
    margin-top: 10px; 
    display: inline-block;
    margin-bottom: 15px; 
}
.new-title h2 { 
    font-size: 36px; 
    text-transform: uppercase; 
    font-weight: 600;
    color: #ffffff;
}
.new-title span {
    font-size: 13px;
    color: #e9e9e9;
    margin-bottom: 0px; 
    display: block; 
}
.new-title p{
    font-size: 14px;
    color: #fafafa;
    margin-bottom: 10px; 
}
.new-title .line4:after { 
    width: 100px; 
    display: block; 
    content: ""; 
    height: 1px; 
    background: #db2d2e; 
    bottom: 0px; 
    transition: width .8s ease; 
    -webkit-transition: width .8s ease; 
    -o-transition: width .8s ease; 
    -ms-transition: width .8s ease; 
    -moz-transition: width .8s ease
}
.new-title .line4:before { 
    content: ''; 
    display: block; 
    height: 1px; 
    width: 50px; 
    bottom: -15px; 
    background: #db2d2e; 
    transition: width .8s ease ; 
    -webkit-transition: width .8s ease; 
    -o-transition: width .8s ease ; 
    -ms-transition: width .8s ease; 
    -moz-transition: width .8s ease ; 
    margin-bottom: 6px; 
}

section:hover .new-title .line4:before { 
    width: 100px; 
    left: 0; 
}
section:hover .new-title .line4:after { 
    width: 50px; 
    left: 0; 
}

.new-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-gap: 20px;
}

.boxes .new-box{
    margin: 0px 0px 0px 40px;
}

.new-box i { 
    text-align: center; 
    font-size: 35px; 
    line-height: 50px;
    display: inline-block; 
    color: #ffffff; 
    margin-bottom: 5px; 
    transition: all 0.5s ease-in-out; 
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -ms-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
}

.new-box h6 { 
    font-size: 19px;
    font-weight: bold;
    padding: 10px 0px;
    position: relative; 
    color: #ffffff;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.new-box h6:before { 
    position: absolute; 
    content: ""; 
    width: 20px; 
    height: 2px; 
    background: #db2d2e; 
    bottom: 0px;
}
.new-box p { 
    font-size: 15px;
    font-weight: 400;
    color: #d6d6d6;
    padding: 20px 0px;
    width: 260px;
}

.about-us{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 140px;
    padding: 100px 0px;
    align-items: center;
}

.about-img img{
    width: 100%;
    margin-left: 50px;
}
.about-contact h2{
    font-family: open-sans, sans-serif;
    font-size: 20px;
    letter-spacing: 0.80px;
    font-weight: 400;
    padding-bottom: 50px;
    color: #323232;
    transition: all 2.12s ease-in;
    -o-transition: all 0.23s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition:all 0.2s ease-in;
}

.about-contact h2:hover{
    font-family: open-sans, sans-serif;
    font-size: 20px;
    letter-spacing: 0.80px;
    font-weight: 400;
    padding-bottom: 50px;
    color: #db2d2e;
    transition: all 2.12s ease-in;
    -o-transition: all 0.23s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition:all 0.2s ease-in;
}

.about-contact p{
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0.60px;
    font-weight: 300;
    color: #828590;
}


.clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.client-container{
    margin: 0px 120px 70px 120px;
}
.client-area{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0px;
    border: 1px #969696 solid;
    justify-content: center;
}

.client-boxes{
    border: 1px #969696 solid;
    height: 100px;
    line-height: 30px;
}
.client-boxes .new-box img{
    padding: 30px 40px;
}

.client-title { 
    margin-bottom: 20px; 
    text-align: center;
}
.client-title .line4 { 
    position: relative; 
    margin-top: 10px; 
    display: inline-block;
    margin-bottom: 20px; 
}
.client-title h2 { 
    font-size: 36px; 
    text-transform: uppercase; 
    font-weight: 600;
    color: #363636;
}
.client-title span {
    font-size: 13px;
    color: #969696;
    margin-bottom: 5px; 
    display: block; 
}
.client-title .line4:after { 
    width: 100px; display: block; 
    margin: auto; 
    content: ""; 
    height: 1px; 
    background: #db2d2e; 
    bottom: 0px; left: 50%; 
    transition: width .8s ease; 
    -webkit-transition: width .8s ease; 
    -o-transition: width .8s ease; 
    -ms-transition: width .8s ease; 
    -moz-transition: width .8s ease
}
.client-title .line4:before { 
    content: ''; 
    display: block; 
    margin: auto; 
    left: 50%; 
    height: 1px; 
    width: 50px; 
    bottom: -15px; 
    background: #db2d2e; 
    transition: width .8s ease ; 
    -webkit-transition: width .8s ease; 
    -o-transition: width .8s ease ; 
    -ms-transition: width .8s ease; 
    -moz-transition: width .8s ease ; 
    margin-bottom: 6px; 
}

section:hover .client-title .line4:before { 
    width: 100px; 
    left: 0; 
}
section:hover .client-title .line4:after { 
    width: 50px; 
    left: 0; 
}

.main{

margin: 2%;
}

.card{
    width: 23%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 10px;
    background-color: #ffffff;
    color: #19191a;
}

.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}

.card-title{
    color: #db2d2e;
    text-align: center;
    padding: 10px;   
}

h1{
    font-size: 20px;
}
.car-content .star{
    color: #909090;
}

.des{
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card-tex{
    padding: 10px 8px;
    color: #909090;
}
.card-but{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: #db2d2e;
    border: none;
    border-radius: 2px;
    padding:10px;
}
.card-but:hover{
    background-color: #323232;
    color: white;
    transition: all .2s ease-in ;
    cursor: pointer;
}

/* car logo */
/* car logo */
/* car logo */
/* car logo */
#popular-cars{
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px;
}
.car-makes{
    padding: 40px 0;
    padding-bottom: 15px;
}
.strikethrough-title {
    margin-bottom: 30px;
    text-align: center;
   
} 
h3{
    font: inherit;
    font-size: 25px;
}
.makes {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 4px 4px;}

p{
    margin-left: 15px;
}

.car-type p{
    padding-left: 100px;
}



/* Service Arae */
/* Service Arae */
/* Service Arae */

.service-banner{
    width: 100%;
    height: 420px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/bg/01.jpg);
    background-origin: initial;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
}
.ser-text{
    font-size: 30px;
    text-transform: uppercase;
    padding: 280px 0 0 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ser-text h2{
    flex: 40%;
}
.ser-text .page-bread .bg-font a{
    font-size: 16px;
    padding: 0 10px 0 -10px;
}

.ser-text .page-bread .bg-font .fa{
    font-size: 18px;
    line-height: 50px;
}


/* login section */
/* login section */
/* login section */
/* login section */


.Login{
    display: flex;
    justify-content: center;

}
.form-control{
    font-size: 15px;
    margin-bottom: 20px;
    align-items: center;
}
input{
    width: 330px;
    min-height: 25px;
    padding: 15px 20px;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #db2d2e;
}

.submit{
    width: 100%;
    min-height: 25px;
    font-size: 20px;
    letter-spacing: 0.30px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    background-color: #db2d2e;
    transition: 0.50s ease-in-out;
    border: none;
}

.submit:hover{
    width: 100%;
    min-height: 25px;
    font-size: 20px;
    letter-spacing: 0.30px;
    text-align: center;
    border-radius: 8px;
    background-color: #323232;
    color: #db2d2e;
    transition: 0.50s ease-in-out;
}

#for-password, a{
    font-size: 18px;
    padding-top: 20px;
    text-decoration: none;
}
#for-password, a:hover{
    font-size: 18px;
    padding-top: 20px;
    text-decoration: none;
    color: #2c2c2c;
}





/* footer section */
/* footer section */
/* footer section */

footer{
    padding: 80px 0 0 0;
    background: #101010;
    color: #f1f1f1;
}

.form-top{
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.form-top h5{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin: -20px 0px 20px 0;
}

#words{
    color: #a5a4a4;
    font-size: 15px;
    margin: 0px 0px 50px 0;
  
}


#fill{
    width: 500px;
}

.form-input {
    width: 100%;
    padding: 16px 35px;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #ffffff;
    margin-right: 50px
}

#name{
    margin-top: 10px;
    margin-bottom: 20px;
}

#foot{
    width: 550px;
    margin-right: 40px;
}

#text{
    width: 100%;
    min-height: 70px;
    padding: 15px 35px;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #ffffff;
    margin-right: 50px
}

.sev-footer{
    display: flex;
    margin: 40px 0;
}
.foter-col{
    background: rgba(39, 39, 39, 0.2);
    padding: 30px;
    clear: both;
    padding: 20px 0px 20px 30px;
    color: #ffffff;
    margin-right: 20px;
    display: flex;
    align-items: center;   
}
.col1{
    flex: 2;
}
.col2{
    margin: 20px 20px 40px 30px;
    line-height: 70px;
}

.col1 h4{
    font-size: 20px bold;
    padding: 10px 0;
    color: #ffffff;
}
.col1 p{

    font-size: 15px;
    padding: 0px 0 15px 0;
    color: #909090;
}
.fot-but{
    background-color: #db2d2e;
    border: none;
    height: auto;
    padding: 13px 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    transition: all 2.12s ease-in;
    -o-transition: all 0.23s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition:all 0.2s ease-in;
}

.fot-but:hover{
    background-color: #19191a;
    color: #ffffff;
    border: none;
    height: auto;
    padding: 15px 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    transition: all 2.12s ease-in;
    -o-transition: all 0.23s ease-in;
    -moz-transition:all 0.23s ease-in;
    -webkit-transition:all 0.23s ease-in;
}
#copy{
    background: rgba(39, 39, 39, 0.2);
    text-align: left;
    padding: 30px 0px 30px 80px;
}

/* Service Arae */

.service-banner{
    width: 100%;
    height: 420px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/bg/01.jpg);
    background-origin: initial;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
}
.ser-text{
    font-size: 30px;
    text-transform: uppercase;
    padding: 280px 0 0 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ser-text h2{
    flex: 40%;
}
.ser-text .page-bread .bg-font a{
    font-size: 16px;
    padding: 0 10px 0 -10px;
}

.ser-text .page-bread .bg-font .fa{
    font-size: 18px;
    line-height: 50px;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    background: 19191a;
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
}
.menu span{
    position: absolute;
    width: 30px;
    height: 2px;
    background:rgb(187, 30, 30);
    display: block;
    top:calc(50% - 1px);
    left: calc(50%-15px);
    transition: 0.5s;
}

.menu span:nth-child(1){
    transform:translateY(-10px);
 
}
.menu span:nth-child(3){
    transform:translateY(10px); 
}
.menu.active span:nth-child(1){
    transform:translateY(0px) rotate(-45deg); 
}

.menu.active span:nth-child(3){
    transform:translateY(0px) rotate(45deg);  
}

.menu.active span:nth-child(2){
    transform:translateX(-30px);
    opacity: 0;
} 

.menu-bar{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #19191a;
    transition: 0.5s;
    transform: translateX(-100%);
}
.menu-bar.active {
    transform: translateX(0);
}
.menu-bar ul{
    display: flex;
    margin: 0;
    padding: 0;
    float: right;
}
.menu-bar ul li{
list-style: none;

}
.menu-bar ul li a{
    line-height: 60px;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    display: block;
    border-right: 3px solid #19191a ;
    margin-top: -15px;
}

.menu-bar ul li a:hover{
  background:#19191a ;
  color: #db2d2e;
}
@media(max-width:768px){
    .menu-bar{
        height: auto;
    }
    .menu-bar ul{
     display: inherit;
     float: none;
     text-align: center;
     width: 100%;
     height: 100vh;
    }
    .menu-bar ul a{
       border-right: none;
       border-bottom: 1px solid #19191a;
    }
}